#wrapper{
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
.tap-menu{
    display: flex;
    justify-content: space-between;
}
.logo-left{
    display: flex;
    margin-top: 10px;
}
.hot-line{
    
    margin-top: 10px;
    font-size: 18px;
}
.hot-line a{
    text-decoration: none;
}
.hot-line:hover{
    color: red;
}
.list-logo{
    padding: 15px 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.logo-1{
    padding: 0px 5px;
    font-size: 20px;
}
.logo-2{
    padding: 0px 5px;
    font-size: 20px;
}
.logo-3{
    padding: 0px 5px;
    font-size: 20px;
    color: red;
}
.menu-right button{
    width: 100px;
    height: 30px;
    border: none;
    padding: 0px 10px;
    border-radius: 5px;
    font-weight: 500;
}
.menu-right button:hover{
    color: red;
}
.menu-right{
    padding: 24px 0px;
}
/* .item{
    position: fixed;
    z-index: 1;
    background-color: #fff;
} */
.tap-list{
    display: flex;
    padding: 25px 0px;
    justify-content: center;
    gap: 30px;
}
.list-item-ul{
    display: flex;
    padding: 30px 30px;
    display: none;
    justify-content: space-between;
    height: 100vh;
    transition: all 0.5s ease-out;
}
.list-item-ul li{
    list-style: none;
}
.list-item-1:hover .list-item-ul{
    display: flex;
    justify-content: space-between;
    width: 200%;
    background-color: #fff;
}
.item-1 ul li{
    line-height: 30px;
    font-weight: 300;
}
.item-2 ul li{
    line-height: 30px;
    font-weight: 300;
}
.item-3 ul li{
    line-height: 30px;
    font-weight: 300;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 10;
}
.product-info{
    display: flex;
    margin: 0px auto;
    text-align: center;
    width: 18%;
}
.info-product{
    padding: 5px 10px;
}
#product-img{
    width: 24%;
    height: 300px;

}
.product{
    display: flex;
    justify-content: space-around;
}
#info-product{
    text-align: center;
}
.form-buy{
    background-color: aqua;
    text-align: center;
    width: 50%;
    margin: 0px auto;
}
.address-product {
    margin: 5px 5px;
    position: fixed;
    top: 25%;
    right: 32%;
    background-color:rgb(221, 195, 195);
    padding: 12px 20px;
    transition: 0.3s linear;
    z-index: 11;
    height: 500px;
    border-radius:20px;
    display: none;
}
.name input{
    margin: 5px;
    width: 80%;
    outline: none;
    border: none;
    height: 40px;
    padding: 0px 20px;
}
.phone input{
    margin: 5px;
    width: 80%;
    outline: none;
    border: none;
    height: 40px;
    padding: 0px 20px;
}
.address input{
    margin: 5px;
    width: 80%;
    outline: none;
    border: none;
    height: 40px;
    padding: 0px 20px;
}
.buy {
    text-align: center;
    margin-left: 50%;
    width: 20%;
}
.buy button{
    border: none;
    background-color: red;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}
#product-about{
    margin-top: 5%;
}